{#{% extends "layout.html.twig" %}

{% block title "Admin rubriques" %}#}
    


<h3 class="text-center">Tes Photos</h3>
    
{#<div class="media">
        
    <div class="media-left">
        <img src="' . URL . 'photo/' . $article['photo'] . '" class="media-object" style="width:60px">
    </div>';

    <img src="' . URL . 'photo/' . $photo_actuelle . '" alt="img-thumbnail" width="210">';

    <div class="media-body">
        <h4 class="media-heading">' . $article['titre'] . ' <small> à ' . $article['prix'] . ' €, reste ' . $article['stock'] . ' en stock</small></h4>
        <p>' . $article['description'] .'</p>
        <p>' . $article['couleur'] . ' ' . $article['taille'] . ' ' . $article['categorie'] . '<br><a href="fiche_article.php?id_article=' . $article['id_article']  . '" class="btn btn-primary">voir la fiche article</a></p>
    </div>

</div>#}