@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

/*body{
	background-image:url("../img/map.jpg");
        margin:auto;
        width:100%;
        display:block;
        opacity:.25;
        100px 50px  no-repeat
	 background-size: contain; ou cover 
	background-attachment: fixed;
}*/
h1.homepage {
    color: red;
    font-family: 'Luckiest Guy', cursive;
    padding-top: 0.3em;
}

div .bg {
    position: absolute;
    margin: 0 auto;
    top: 0;
    /*bottom: 0;
    left: 0;*/
    right: 0;
    background: url("../img/patchwork_photo.png") center center;
    opacity: .5;
    width: 100%;
    height: 100%;
    z-index: -1;
}