{% extends "layout.html.twig" %}

{% block content %}
    <div class="container">
        <h1>Je suis un h1</h1>
        <p>Ma vue est <span>templates/index.html.twig</span></p>
    </div>
{% endblock %}
