{% extends "layout.html.twig" %}

{% block content %}
    <div class="container">
        <div class="twig_content">
            <h1>Je suis un h1</h1>
            <p>Ma vue est <span>templates/index.html.twig</span></p>
            <br><a href="{{ path('homepage') }}">Je suis un lien twig vers la page d'accueil</a>
            
            <h2>Je suis un h2 mal utilisé,<br>il faut que j'active le modal,
                <br>puis je dois voir comment faire une insertion bdd à partir d'un formulaire.</h2>
            
            
            
        </div><!-- fin .twig_content -->
    </div><!-- fin .container -->
            
            <!-- MODAL Login simple pour essais -->
            <!-- formulaire de login -->
            <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="loginmodal-container">
                        <h1>Login to Your Account</h1><br>
                        <form>
                              <input type="text" name="user" placeholder="Username">
                              <input type="password" name="pass" placeholder="Password">
                              <input type="submit" name="login" class="login loginmodal-submit" value="Login">
                        </form>

                        <div class="login-help">
                              <a href="#">Register</a> - <a href="#">Forgot Password</a>
                        </div>
                    </div>
                </div>
            </div>

                
{% endblock %}
