{% extends "layout.html.twig" %}

{% block content %}
    
    
    <div class="container">
        <div class="twig_content">
            <h1>Je suis un h1</h1>
            <p>Ma vue est <span>templates/index.html.twig</span></p>
            <br><a href="{{ path('homepage') }}">Je suis un lien twig vers la page d'accueil</a>
            
            <h2>Je suis un h2 mal utilisé,
                <br>je dois voir comment faire une insertion bdd à partir d'un formulaire.</h2>

            <table>
                <thead>
                    
                </thead>
                <tbody>
                    <tr>
                        {% for in  %}
                        <td>{{  }}</td>
                    </tr>
                </tbody>
            </table>
            
            
            
        </div><!-- fin .twig_content -->
    </div><!-- fin .container -->
            


                
{% endblock %}
