{% extends "layout.html.twig" %}

{% block content %}
    
    <div class="container">
        <div class="twig_content">
            <pre>
                {% echo var_dump(response) %}{# dump(response) #}</pre>
            
            
            
        </div><!-- fin .twig_content -->
    </div><!-- fin .container -->
            


                
{% endblock %}
